# AWS credentials — Staging
AWS_ACCESS_KEY_ID_STG=
AWS_SECRET_ACCESS_KEY_STG=

# AWS credentials — Production
AWS_ACCESS_KEY_ID_PRD=
AWS_SECRET_ACCESS_KEY_PRD=

# AWS region
AWS_REGION=eu-west-3

# Secrets Manager IDs
SECRETS_MANAGER_STG=
SECRETS_MANAGER_PRD=

# Lambda function names
LAMBDA_FUNCTION_API_STG=curved-api-stg
LAMBDA_FUNCTION_API_PRD=curved-api-prd
LAMBDA_FUNCTION_CRON_STG=curved-cron-stg
LAMBDA_FUNCTION_CRON_PRD=curved-cron-prd

# S3 Buckets
S3_BUCKET_WEB_STG=
S3_BUCKET_WEB_PRD=
S3_BUCKET_ADMIN_STG=
S3_BUCKET_ADMIN_PRD=
S3_BUCKET_ASSETS_STG=
S3_BUCKET_ASSETS_PRD=

# CloudFront Distribution IDs
CF_DISTRIBUTION_WEB_STG=
CF_DISTRIBUTION_WEB_PRD=
CF_DISTRIBUTION_ADMIN_STG=
CF_DISTRIBUTION_ADMIN_PRD=

# Vite
VITE_API_URL_PRD=
